@page "/"
@inject IJSRuntime js  
<style>
    .cell { width: 30px; height: 30px; border: none; float: left; }
    .cell > input { width: 30px; height: 30px; outline: none; }
    .nonfocus:focus-visible, .nonfocus:active{outline:none;}
</style>
<div @ref="mydiv" tabindex="0" class="container nonfocus" style="min-width:610px;" @onkeydown="KeyDown">
    <div>
        Таны оноо: <span class="alert" style="font-size:18px;">@score</span>
    </div>
    @for (int i = 0; i < MatrixWidth; i++)
    {
        <div class="row">
            @for (int j = 0; j < MatrixWidth; j++)
            {
                <div class="cell">
                    <input type="checkbox" checked="@(matrix[j,i]==1)" />
                </div>
            }
        </div>
    }
    <div>@if(!live){ <span>Press any key to start</span>}</div>
    <div>Use: W A S D  or Arrow key </div>
    <div>        
        Pressed: @key        
    </div>
</div>
@if (GameFinished)
{
    <div class="modal fade show" data-backdrop="static" style="display:block;background:rgba(0,0,0,0.5);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Та хожигдлоо</h5>
                    
                </div>
                <div class="modal-body">
                    Таны оноо: @score; Refresh дараад дахин эхэлнэ үү
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" @onclick="Restart">Дахин эхлэх</button>
                </div>
            </div>
        </div>
    </div>
}
